@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Montserrat", sans-serif;
}
.gradient {
  background: linear-gradient(
    152deg,
    rgb(133 221 224 / 90%) -0.04%,
    rgb(137 141 211 / 90%) 100%
  );
}

tr:nth-child(even) {
  background-color: #187ca7;
}

th,
td {
  padding-left: 1rem;
}
